<div id="data">
  <% @expenses.each do |name, rows| %>
  <div class="horiz-half">
    <div class="box box_rounded">
    <h4>Paid by <%= name.titleize %></h4>
    <table>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th align="center">Shared?</th>
        <td></td>
      </tr>
      <% rows.each do |expense| %>
      <tr>
        <td><%= expense.event_date.strftime('%-m/%-d') %></td>
        <td><%= expense.description %></td>
        <td><%= number_to_currency(expense.amount) %></td>
        <td align="center"><%= '&#x2713;'.html_safe if expense.shared? %></td>
        <% if @login.name.downcase == name.downcase %>
          <td class="delete-link"><%= link_to 'x', destroy_expense_path(expense.id) %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
      <% end %>
      <tr class="total">
        <td colspan=2>TOTAL</td>
        <td><%= number_to_currency(amount_paid[name]) %></td>
        <td align="center"><%= number_to_currency(amount_due[name]) %></td>
        <td></td>
      </th>
    </table>
    </div>
  </div>
  <% end %>
</div>

<footer class="page__footer">
  <% debtor, debtee, amount = summary # NOTE: We currently only support 2 logins %>
  <% if debtor %>
    <h1 class="owes"><%= debtor.titleize %> owes <%= debtee.titleize %> <%= number_to_currency(amount) %></h1>
  <% elsif @expenses.values.any?(&:present?) %>
    <h1 class="paidup">Month has been paid up.</h1>
  <% end %>
</footer>
